.wrapper {
  width: 100%;
}

@media (min-width: 360px) {
  .wrapper {
    width: 320px;
  }
}

@media (min-width: 660px) {
  .wrapper {
    width: 600px;
  }
}
@media (min-width: 1000px) {
  .wrapper {
    width: 900px;
  }
}

.strechChildBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.5rem;
}

.strechChildBox > * {
  flex: 1;
}

.input {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: #000000d9;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  justify-content: left;
}
