.container {
  box-sizing: border-box;
  color: #000000d9;
  font-size: 14px;
  position: relative;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

.likeBox {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.count {
  margin: 0px 6px;
  padding: 0;
}
