.nav {
  height: 80px;
  padding: 0 10px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav button {
  margin-left: auto;
  color: #1890ff;
}

.linkText {
  margin: 0 10px;
  font-size: 1.2rem;
}

@media (max-width: 860px) {
  .nav {
    height: 70px;
  }
  .linkText {
    font-size: 1rem;
    margin: 0 8px;
  }
}

@media (max-width: 460px) {
  .nav {
    height: 60px;
  }
  .linkText {
    font-size: 0.8rem;
    margin: 0 6px;
  }
}
