.item {
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  margin: 4px;
  padding: 6px;
  white-space: nowrap;
  opacity: 0.9;
  transition: all 0.3s;
  font-weight: 300;
  border: 1px solid #eaeaea;
  color: #000000d9;
}
.item:hover {
  color: #0070f3;
}
.checked {
  font-weight: 700;
  opacity: 1;
  margin: 2px;
  padding: 4px;
  background-color: #1890ff;
  color: #fff;
}

.checked:hover {
  color: #fff;
}

@media (max-width: 600px) {
  .selectBox {
    width: 100%;
    flex-direction: column;
  }
}

.scrollableContainer {
  border: 1px solid #eaeaea;
  border-radius: 10px;
  width: 50%;
  height: 160px;
  position: relative;
  overflow: hidden;
}
.scrollable {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scrollable div {
  font-size: 23px;
}

@media (min-width: 360px) {
  .scrollableContainer {
    width: 160px;
  }
}

@media (min-width: 660px) {
  .scrollableContainer {
    width: 300px;
  }
}
@media (min-width: 1000px) {
  .scrollableContainer {
    width: 400px;
  }
}
/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .scrollable {
    margin-right: -10px;
    padding-top: 32px;
    margin-top: -32px;
    margin-bottom: -32px;
    padding-bottom: 32px;

    /* ie scrollbar color properties */
    scrollbar-base-color: #efefef;
    scrollbar-face-color: #666666;
    scrollbar-3dlight-color: #666666;
    scrollbar-highlight-color: #666666;
    scrollbar-track-color: #efefef;
    scrollbar-arrow-color: #666666;
    scrollbar-shadow-color: #666666;
    scrollbar-dark-shadow-color: #666666;
  }

  .scrollable:after {
    content: "";
    height: 32px;
    display: block;
  }
}

/*Edge*/
@supports (-ms-ime-align: auto) {
  .scrollable {
    margin-right: -10px;
    padding-top: 16px;
    margin-top: -16px;
    margin-bottom: -16px;
    padding-bottom: 16px;
  }

  .scrollable:after {
    content: "";
    height: 16px;
    display: block;
  }
}

/*Firefox*/
/*From version 64 - https://drafts.csswg.org/css-scrollbars-1/*/
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #666666 #efefef;
}

/*Chrome*/
.scrollable::-webkit-scrollbar-track {
  background-color: #efefef;
  width: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #666666;
  border: 1px solid transparent;
  background-clip: content-box;
}

.scrollable::-webkit-scrollbar {
  width: 8px;
}
