.outter {
  position: fixed;
  text-align: left;
  left: 0;
  right: 0;
}

.inner {
  display: inline-block;
  position: fixed;
  height: 32px;
  padding: 4px 15px;
  background-color: #f2f4f5;
  border: 1px solid #f0f0f0;
  opacity: 0;
  left: 20px;
  top: -80px;
  transition: 0.4s ease-in;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
}

.open {
  opacity: 1;
  transform: translateY(120px);
}

.text {
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; 
  width: 180px;
  white-space: nowrap;
}